header {
  position: relative;
  @media ($tablet-width) {
    background: $grey-color;
  }
}

.page-header {
  background-image: url(../img/bg-back-mobile@1x.jpg);
  background-position: 60% 0;
  background-repeat: no-repeat;
  background-color: #2c3c4c;
  position: relative;
  background-size: cover;
  padding: 105px 0 80px;
  min-height: 170px;

  @media ($tablet-width) {
    min-height: 435px;
    padding: 180px 0 0;
    background-image: url(../img/bg-back-tablet@1x.jpg);
  }

  @media ($desktop-width) {
    min-height: 395px;
    padding: 175px 0 0;
    background-image: url(../img/bg-back-desktop@1x.jpg);
  }

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url(../img/bg-back-mobile@2x.jpg);
    background-size: 640px auto;
  }

  @media (min-resolution: 144dpi) and ($tablet-width), (min-resolution: 1.5dppx) and ($tablet-width) {
    background-image: url(../img/bg-back-tablet@2x.jpg);
    background-size: 1400px auto;
  }

  @media (min-resolution: 144dpi) and ($desktop-width), (min-resolution: 1.5dppx) and ($desktop-width) {
    background-image: url(../img/bg-back-desktop@2x.jpg);
    background-size: 2400px auto;
  }

  &--main-page {
    min-height: 460px;
    padding: 0;

    .page-header__title {
      h1 {
        padding: 0;
      }

      @media ($desktop-width) {
        padding: 20px 25px 65px;
      }
    }

    @media ($tablet-width) {
      min-height: 619px;
    }
  }

  &--form-page {
    .page-header__title {
      h1 {
        padding: 0 10%;
      }
    }
  }
}

.page-header__title {
  padding: 0 20px;
  @media ($tablet-width) {
    padding: 0 50px 28px 50px;
  }

  @media ($desktop-width) {
    padding: 7px 25px 55px;
  }

  h1 {
    font-family: $opensans-light;
    font-size: 24px;
    line-height: 30px;
    color: $white-color;
    font-weight: 300;
    margin: 0 auto;

    @media ($tablet-width) {
      line-height: 50px;
      font-size: 50px;
      padding: 0 10%;
    }

    @media ($desktop-width) {
      padding: 0 30%;
    }
  }
}

.page-header__content {
  display: flex;
  flex-direction: column;
  padding-top: 185px;

  @media ($tablet-width) {
    flex-direction: row;
    padding-top: 0;
    padding-bottom: 110px;
  }

  @media ($desktop-width) {
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 120px;
  }

  .download {
    order: 1;
    margin: 0;

    @media ($tablet-width) {
      order: 0;
      margin: 0;
      width: 55%;
    }
  }
}

.page-header__hand-img {
  width: 100%;
  //padding-top: 110px;
  padding-right: 60px;

  img {
    display: block;
    height: auto;
    width: 100%;

    @media ($tablet-width) {
      position: absolute;
      right: 0;
      width: auto;
      bottom: 0;
      z-index: 0;
      display: block;
    }
  }
}

.page-header__wrapper {
  position: relative;
  z-index: 2;
  @media ($desktop-width) {
    background-color: rgba($grey-color, 0.52);
  }
}


