.page-header-menu {
  margin-bottom: -75px;

  @media ($tablet-width) {
    margin-bottom: -105px;
  }

  @media ($desktop-width) {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    //background-color: #283645;
    padding: 24px 120px;
    background-color: transparent;
    position: relative;
    z-index: 4;
    margin-bottom: -115px;
  }
}

.page-header-menu__title {
  position: relative;
  z-index: 5;
  color: #000;
  background-color: rgba(28, 37, 48, 0.5);

  &--opened-menu {
    margin-bottom: 0;
    background-color: $grey-color;
    border-bottom: 1px solid #000;

    @media ($desktop-width) {
      border: 0;
      padding: 0;
      background-color: transparent;
    }
  }

  @media ($tablet-width) {
    padding: 24px 35px 35px;
  }

  @media ($desktop-width) {
    background-color: rgba(28, 37, 48, 0);
    padding: 0;
  }
}

.logo {
  text-transform: uppercase;
  font-size: 50px;
  color: $white-color;
  padding: 15px 20px 23px;
  display: block;
  opacity: 12;
  text-align: left;

  @media ($tablet-width) {
    padding: 0;
  }

  @media ($desktop-width) {
    //padding: 15px;
  }
}

.page-header-menu__navigation-list {
  li {
    background-color: $grey-color;
    border-bottom: 1px solid #485461;
    border-top: 1px solid #000;
    box-shadow: 0 0 1px #000, 0 1px 3px rgba(255, 255, 255, 0.15) inset;
    padding: 15px;

    &:first-child {
      border-top: 0;
    }

    &:last-child {
      border-bottom: 0;
      box-shadow: 0 0 1px #000, 0 1px 2px rgba(255, 255, 255, 0.15) inset;
      @media ($desktop-width) {
        box-shadow: none;
      }
    }

    &:hover,
    &:focus {
      border-top-color: transparent;
      border-bottom-color: transparent;
      box-shadow: 0 0 1px #000, 0 -1px 0 rgba(255, 255, 255, 0.15) inset;

      @media ($desktop-width) {
        box-shadow: none;
      }
    }

    @media ($desktop-width) {
      border: 0;
      box-shadow: none;
      background-color: transparent;
    }

    a {
      font-size: 18px;
      line-height: 32px;
      color: $white-color;
      display: block;
      text-transform: uppercase;

      @media ($desktop-width) {
        text-transform: capitalize;
      }
    }
  }

  @media ($desktop-width) {
    display: flex;
    justify-content: space-between;
    //background-color: #283645;
    border: 0 solid #000;
  }
}

.page-header-menu__toggle {
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 14px;
  outline: none;
  transform: translateY(-50%);

  .open-menu {
    display: block;
  }

  .close-menu {
    display: none;
  }

  &--opened {
    .open-menu {
      display: none;
    }

    .close-menu {
      display: block;
    }
  }

  @media ($tablet-width) {
    right: 35px;
  }

  @media ($desktop-width) {
    display: none;
  }
}

.page-header-menu__navigation {
  display: none;

  @media ($desktop-width) {
    flex-basis: 67%;
    display: block;
  }

  &--no-js {
    display: block;
  }

  &--show {
    display: block;
  }
}
