.page-header-menu {
  ~ nav {
    display: block;
  }
}

.page-header-menu__title {
  margin-bottom: -75px;
  position: relative;
  z-index: 5;
  //background-color: rgb(40, 54, 69);
  color: #000;
  background-color: rgba(28, 37, 48, 0.5);

  &--opened-menu {
    margin-bottom: 0;
    background-color: $grey-color;
    border-bottom: 1px solid #000;

    ~ nav {
      display: block;
    }
  }
}

.logo {
  text-transform: uppercase;
  font-size: 50px;
  color: $white-color;
  padding: 20px;
  display: block;
  //border-bottom: 1px solid #000;
  opacity: 12;
  text-align: left;
}

.page-header-menu__navigation-list {
  li {
    background-color: $grey-color;
    border-top: 1px solid #485461;
    border-bottom: 1px solid #000;
    padding: 20px;

    a {
      font-size: 18px;
      line-height: 32px;
      color: $white-color;
      display: block;
    }
  }

  li:hover {
    box-shadow: inset 0 2px #485461;
  }
}

.page-header-menu__toggle {
  background-image: url(../img/icon-menu-burger.svg);
  background-repeat: no-repeat;
  background-color: transparent;
  height: 25px;
  width: 40px;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 25px;
  right: 25px;
  outline: none;
}

.page-header-menu__navigation {
  display: none;
}

.page-header-menu__toggle:active {
  background-image: url(../img/icon-menu-cross.svg);
  height: 50px;
  width: 30px;
}
