header {
  position: relative;
}

.page-header {
  background: url(../img/bg-back-mobile@1x.jpg);
  background-position: 60% 0;
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;
  // min-height: 240px;
  padding: 105px 0 80px;

  @media ($tablet-width) {
    min-height: 440px;
  }

  @media ($desktop-width) {
    min-height: 395px;
  }

  &--main-page {
    min-height: 460px;

    @media ($tablet-width) {
      min-height: 850px;
    }
  }
}

.page-header__title {
  // padding-top: 35px;

  h1 {
    font-family: $opensans-light;
    font-size: 24px;
    line-height: 35px;
    color: $white-color;
    font-weight: 300;
    width: 170px;
    margin: 0 auto;

    @media ($tablet-width) {
      line-height: 50px;
      font-size: 50px;
      padding: 0 120px 65px;
      width: 595px;
    }
  }
}


.page-header__content {
  display: flex;
  flex-direction: column;

  .download {
    order: 1;
    margin: 0;
  }

}

.page-header__hand-img {
  width: 100%;
  padding-top: 110px;
  padding-right: 60px;
  img {
    display: block;
    height: auto;
    width: 100%;
  }
}

@media ($tablet-width) {
  .page-header__content {
    flex-direction: row;
    padding-top: 90px;

    .download {
      order: 0;
      margin: 0;
    }
  }
}
