body {
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  font-family: $opensans;
  max-width: $phone-width;
  color: $grey-color;
}

.container {
  padding: 0 20px;
}

body,
ul,
p,
h1,
h2,
h3,
textarea,
input {
  padding: 0;
  margin: 0;
}

ul li {
  list-style: none;
}

address {
  font-style: inherit;
}

a {
  text-decoration: none;
}

.accent-color-text {
  color: $pink-color;
}

.svg-definition {
  display: none;
}

* {
  box-sizing: border-box;
}
