.advantages {
  background-color: $light-grey-color;
  padding-top: 80px;
  padding-bottom: 50px;
  position: relative;
  overflow: hidden;

  @media ($tablet-width) {
    padding-top: 72px;
    //padding-bottom: 0;
    padding-bottom: 7px;
  }

  @media ($desktop-width) {
    padding-top: 100px;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: url('../img/bg-triangle-white.svg');
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
  }
}

.advantages__item {
  margin-bottom: 33px;

  @media ($tablet-width) {
    margin-bottom: 35px;
  }

  @media ($desktop-width) {
    width: 30%;
  }
}

.advantages__item-description {
  @media ($desktop-width) {
    //padding: 22px 24px;
    font-size: 18px;
    line-height: 30px;
    padding: 0 15px;
  }
}

.advantages__item-title {
  font-family: $opensans-bold;
  font-size: 18px;
  //line-height: 10px;
  //background-color: #f2f2f2;
  padding-bottom: 15px;
  line-height: 20px;

  @media ($desktop-width) {
    font-size: 30px;
    line-height: 30px;
    padding: 0 20px 25px;
  }
}

.advantages .wrapper {
  @media ($tablet-width) {
    display: flex;
    flex-direction: row;
  }

  @media ($desktop-width) {
    flex-direction: column;
    padding: 0 140px;
  }
}

.advantages__wrapper {
  @media ($tablet-width) {
    flex-basis: 50%;
    text-align: left;
    order: 2;
  }

  @media ($desktop-width) {
    display: flex;
    background-color: #f2f2f2;
    z-index: 2;
    padding-top: 55px;
    text-align: center;
    justify-content: space-between;
    flex-basis: auto;
  }
}

.advantages__img {
  margin-bottom: -95px;
  margin-top: 28px;

  img {
    @media ($tablet-width) {
      max-width: 100%;
    }
    @media ($desktop-width) {
      height: 300px;
    }
  }

  @media ($tablet-width) {
    margin-top: -70px;
    position: relative;
  }

  @media ($desktop-width) {
    text-align: center;
    padding: 0 5px;
    width: 30%;
    margin-top: -100px;
    margin-bottom: 0;
  }
}

.advantages__img-wrapper {
  @media ($tablet-width) {
    flex-basis: 50%;
    text-align: left;
  }

  @media ($desktop-width) {
    display: flex;
    position: relative;
    z-index: 0;
    justify-content: space-between;
    flex-basis: auto;
  }
}

.advantages__img:not(:first-child) {
  display: none;

  @media ($desktop-width) {
    //display: flex;
    display: block;
  }
}
