.contacts {
  font-size: 24px;
  padding: 50px 0 0;
  @media ($tablet-width) {
    padding: 55px 0 0;
  }
}

.contacts__title h2 {
  font-family: $opensans-light;
  font-size: 24px;
  line-height: 40px;
  @media ($tablet-width) {
    font-size: 40px;
  }
}

.contacts__list {
  background-color: #fff;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 40px;

  @media ($tablet-width) {
    padding: 30px 0 30px;
  }
}

.contacts__list-item {

  @media ($tablet-width) {
    flex-basis: 50%;
  }

  h3 {
    font-family: $opensans-bold;
    font-size: 18px;
    margin: 28px 0 10px;
  }

  &:last-child {
    @media ($tablet-width) {
      flex-basis: 100%;
    }
  }

}
