.contacts {
  font-size: 24px;
  padding: 40px 0 0;

  @media ($tablet-width) {
    padding: 55px 0 0;
  }

  @media ($desktop-width) {
    padding: 80px 0 0;
  }
}

.contacts__title h2 {
  font-family: $opensans-light;
  font-size: 24px;
  line-height: 30px;

  @media ($tablet-width) {
    font-size: 40px;
    padding-bottom: 15px;
  }

  @media ($desktop-width) {
    padding-bottom: 30px;
    font-size: 50px;
  }
}

.contacts__list {
  background-color: #fff;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 40px;

  @media ($tablet-width) {
    padding: 25px 0 30px;
  }

  @media ($desktop-width) {
    padding: 0 0 5px;
  }
}

.contacts__list-item {
  padding: 5px 5px 8px;
  line-height: 25px;

  h3 {
    font-family: $opensans-bold;
    font-size: 18px;
    margin: 10px 0 5px;

    @media ($desktop-width) {
      margin: 10px 0 25px
    }
  }

  &:last-child {
    @media ($tablet-width) {
      flex-basis: 50%;
      padding-top: 30px;
    }

    @media ($desktop-width) {
      flex-basis: 30%;
    }
  }

  &:nth-child(2) {
    @media ($desktop-width) {
      order: 1;
    }
  }

  @media ($tablet-width) {
    flex-basis: 50%;
  }

  @media ($desktop-width) {
    flex-basis: 35%;
  }

}
