.download {
  @include container();
  background-color: #1d2631;
  color: $white-color;
  padding-top: 28px;
  padding-bottom: 28px;

  h1 {
    display: none;
    @media ($tablet-width) {
      display: block;
      font-size: 42px;
    }

    @media ($desktop-width) {
      font-size: 50px;
      line-height: 55px;
    }
  }

  @media ($tablet-width) {
    background-color: transparent;
    position: relative;
    z-index: 1;
  }
}

.download__list {
  display: flex;
  justify-content: space-between;
  padding: 34px 40px 20px;
  align-self: stretch;

  @media ($tablet-width) {
    padding: 47px 47px  35px;
    max-width: 300px;
  }

  @media ($desktop-width) {
    margin: 0 auto;
    padding: 68px 41px 55px 55px;
  }
}

.download__list-item {
  // flex-basis: 30%;

  a {
    width: 46px;
    height: 57px;
    display: block;
    background-repeat: no-repeat;
    background-position: 50%;
    margin: 0 auto;
  }
}

.ios-icon {
  background-image: url('../img/logo-apple.svg');
}

.android-icon {
  background-image: url('../img/logo-android.svg');
}

.win-icon {
  background-image: url('../img/logo-microsoft.svg');
}

.download__description {
  font-family: $opensans-light;
  // max-width: 80%;
  @media ($tablet-width) {
    font-size: 18px;
  }
}
