.feedback-slider {
  @include container();
  margin-top: 45px;
  position: relative;

  a[title^=review] {
    display: none;
    @media ($desktop-width) {
      display: block;
      position: absolute;
      top: 30%;
      left: 10%;

      svg {
        fill: rgba($grey-color, 0.6);
      }

      &:hover,
      &:focus {
        svg {
          fill: $grey-color;
        }
      }

      &:active {
        svg {
          fill: rgba($grey-color, 0.3);
        }
      }
    }
  }

  a[title=review-next] {
    @media ($desktop-width) {
      right: 10%;
      left: auto;
    }
  }

  @media ($tablet-width) {
    padding: 0 40px 15px;
  }

  @media ($desktop-width) {
    padding: 0 40px 45px;
    margin-top: 65px;

    &:before {
      content: '';
      background-image: url(../img/icon-quotes.svg);
      background-repeat: no-repeat;
      background-position-x: 65%;
      margin: 0 auto;
      height: 100px;
      width: 100px;
      display: block;
    }
  }

}

.feedback-slider__list {
  line-height: 30px;
}

.feedback-slider__item {
  @media ($tablet-width) {
    display: flex;
    flex-direction: column;
  }
}

.feedback-slider__item-name {
  font-family: $opensans-bold;
  font-size: 18px;
  color: #000;
  margin-bottom: 10px;
  @media ($tablet-width) {
    font-size: 20px;
    padding-top: 35px;
    margin: 0;
  }
  @media ($desktop-width) {
    font-size: 24px;
  }
}

.feedback-slider__list .feedback-slider__item:nth-child(n+2) {
  display: none;
}

.feedback-slider__item-profession {
  display: none;
  @media ($tablet-width) {
    display: block;
  }

  @media ($desktop-width) {
    line-height: 30px;
    font-size: 18px
  }
}

.feedback-slider__item-description {
  @media ($tablet-width) {
    order: -1;
    font-size: 18px;
    line-height: 30px;
  }

  @media ($desktop-width) {
    padding: 0 130px;
  }
}

.feedback-slider .slider-bullet-buttons {
  padding-bottom: 0;
}
