.footer {
  display: none;
  @include container();
  padding: 40px;

  @media ($desktop-width) {
    max-width: 940px;
    margin: 0 auto;
  }

  a {
    font: 0/0 serif;
    text-shadow: none;
    color: transparent;
  }

  &--visible {
    display: flex;
    flex-direction: column;

    .social-icons {
      padding: 40px 0;
    }
  }

  @media ($tablet-width) {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 35px 40px 50px;
    justify-content: space-between;
  }

  @media ($desktop-width) {
    padding: 35px 0 50px;
  }
}
.footer-logo__item {
  background-image: url(../img/logo-pink-blue-mobile.svg);
  height: 40px;
  width: 146px;
  display: block;
  background-repeat: no-repeat;
  margin: 0 auto;

  @media ($desktop-width) {
    background-image: url(../img/logo-pink-blue-mobile.svg);
  }
}

.social-icons {
  display: flex;
  justify-content: space-between;
  max-width: 265px;
  margin: 0 auto;
}

.social-icons__item {
  width: 50px;
  height: 50px;
  display: block;
  background-repeat: no-repeat;
  border: 3px solid $light-grey-color;
  border-radius: 50px;
  background-position-x: 50%;
  background-position-y: 50%;

  &--twitter {
    background-image: url("../img/icon-twitter.svg");
  }

  &--facebook {
    background-image: url("../img/icon-facebook.svg");
    margin: 0 15px;
  }

  &--youtube {
    background-image: url("../img/icon-youtube.svg");
  }
}

.footer-copyright {
  display: flex;
  justify-content: center;

  span {
    align-self: center;
  }
}

.html-academy-icon {
  background-image: url("../img/htmlacademy.svg");
  width: 50px;
  height: 50px;
  display: block;
  background-repeat: no-repeat;
}
