.footer {
  display: none;
  @include container();

  padding: 55px 40px;

  a {
    font: 0/0 serif;
    text-shadow: none;
    color: transparent;
  }

  &--visible {
    display: flex;
    flex-direction: column;

    .social-icons {
      padding: 40px 0;
    }
  }

  &--picture-page {
    @media ($desktop-width) {
      padding: 110px 0;
    }
  }

  @media ($tablet-width) {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 30px 40px;
    justify-content: space-between;
  }

  @media ($desktop-width) {
    max-width: 940px;
    margin: 0 auto;
    //padding: 95px 0;
    padding: 110px 70px;

    &--form-page {
      padding: 35px 0;
    }

    &--main-page {
      padding: 75px 0;
    }
  }
}

.footer-logo__item {
  //background-image: url(../img/logo-pink-blue-mobile.svg);
  height: 40px;
  width: 146px;
  display: block;
  background-repeat: no-repeat;
  margin: 0 auto;
}

.social-icons {
  display: flex;
  justify-content: space-between;
  max-width: 265px;
  margin: 0 auto;
}

.social-icons__item {
  width: 50px;
  height: 50px;
  padding: 12px;
  display: block;
  background-repeat: no-repeat;
  border: 3px solid $light-grey-color;
  border-radius: 50px;
  background-position-x: 50%;
  background-position-y: 50%;

  &--twitter {
    padding: 14px;
  }

  &--facebook {
    margin: 0 15px;
  }

  &--youtube {
    padding: 15px 2px 15px 6px;
  }
}

.footer-copyright {
  display: flex;
  justify-content: center;

  span {
    align-self: center;
  }
}

.html-academy-icon {
  width: 40px;
  height: 40px;
  //display: block;
  //background-repeat: no-repeat;
  margin-left: 12px;

  @media ($desktop-width) {
    margin: 0;
  }
}
