.form {
  line-height: 30px;
  display: flex;
  flex-direction: column;

  @media ($desktop-width) {
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 940px;
    margin: 0 auto;
    justify-content: space-between;

    .wrapper {
      padding: 0;
      height: 100%;
    }
  }

  input,
  textarea {
    font-size: 18px;
    padding: 18px 15px;
    width: 100%;
    margin-top: 5px;
    outline: none;
    border: 2px solid $light-grey-color;
    border-radius: 1px;
    font-family: $opensans;

    &:-moz-placeholder {
      color: $grey-color;
    }

    &:-ms-input-placeholder {
      color: $grey-color;
    }

    &::-webkit-input-placeholder {
      color: $grey-color;
    }

    &:hover,
    &:focus {
      border-color: $grey-color;
    }

    &:active {
      border-color: $pink-color;
    }

    @media ($tablet-width) {
      margin-top: 0;
    }
  }

  li {
    text-align: left;
  }
}

.form__initials-item {
  //@include container();

  @media ($tablet-width) {
    margin: 0;
  }

  @media ($desktop-width) {
    margin: 0;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

  }

  label {
    text-transform: uppercase;
    color: $pink-color;
    margin-left: 23px;

    @media ($tablet-width) {
      margin: 0 20px 0 0;
    }
  }

  li {
    margin-bottom: 17px;

    &:last-child {
      @media ($tablet-width) {
        margin-bottom: 0;
      }
    }

    @media ($tablet-width) {
      display: flex;
      margin-bottom: 50px;
      align-items: center;
    }

    @media ($desktop-width) {
      margin-bottom: 0;
    }
  }
}

.form-comment {
  text-transform: uppercase;

  span {
    color: $pink-color;
  }
}

.form__title {
  text-transform: uppercase;
  color: $pink-color;
  font-weight: 100;
  padding: 35px 20px 40px;
  line-height: 20px;

  &--position {
    @media ($tablet-width) {
      position: absolute;
      background-color: white;
      top: -25px;
      left: 50%;
      transform: translateX(-50%);
      //min-width: 85%;
      padding: 10px;
    }
  }

  &--invisible {
    display: none;
    @media ($tablet-width) {
      display: block;
    }
  }
}

.form__achievements-item {
  li {
    padding-left: 70px;
    padding-bottom: 52px;
    position: relative;
    font-size: 18px;

    &:last-of-type {
      @media ($tablet-width) {
        padding-bottom: 0;
      }
    }

    &:nth-of-type(n+4) {
      @media ($desktop-width) {
        padding-bottom: 0;
      }
    }

    @media ($desktop-width) {
      width: 32%;
      padding-bottom: 20px;
    }
  }

  @media ($tablet-width) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  @media ($desktop-width) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.form__achievements-item {
  input[type="checkbox"] {
    display: none;
  }

  label {
    &:before {
      content: "";
      display: inline-block;
      vertical-align: middle;
      width: 35px;
      height: 35px;
      border: 2px solid #e5e5e5;
      position: absolute;
      left: 0;
    }

    &:hover,
    &:focus {
      &::before {
        border-color: $grey-color;
      }
    }

    &:active {
      &::before {
        border-color: $pink-color;
      }
    }
  }

  input[type=checkbox]:checked + label::before {
    background-image: url("../img/icon-yes.svg");
    width: 35px;
    height: 35px;
    position: absolute;
    left: 0;
    background-repeat: no-repeat;
    background-position: 7px 8px;
  }
}

.form__contacts-item {
  padding-top: 10px;
  padding-bottom: 40px;

  li {
    padding-top: 18px;

    &:nth-of-type(1) {
      @media ($tablet-width) {
        padding: 0;
      }
    }

    &:nth-of-type(2) {
      @media ($desktop-width) {
        padding-top: 0;
      }
    }

    @media ($tablet-width) {
      display: flex;
      flex-direction: column;
      padding-top: 28px;

      label {
        order: 1;
        padding-left: 22px;
        padding-top: 10px;
      }
    }

    @media ($desktop-width) {
      flex-basis: 46%;
    }
  }

  label {
    text-transform: uppercase;
    color: $pink-color;
    padding-left: 22px;
  }

  input {

    //margin-top: 10px;
  }
  @media ($tablet-width) {
    padding-bottom: 0;
  }
  @media ($desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.form__container--bg {
  background-color: $light-grey-color;

  @media ($tablet-width) {
    background-color: $white-color;
  }
}

.form__apps-item {
  padding-bottom: 45px;

  li {
    padding-bottom: 43px;
    position: relative;

    &:last-child {
      padding-bottom: 0;
    }
  }

  input {
    width: 40px;
  }

  label {
    padding-left: 70px;
    position: relative;
    font-size: 18px;

    &::before {
      content: "";
      display: inline-block;
      vertical-align: middle;
      width: 40px;
      height: 40px;
      border: 2px solid #e5e5e5;
      background-color: $white-color;
      border-radius: 50px;
      position: absolute;
      left: 0;
      top: -10px;
    }

    &:hover,
    &:focus {
      &::before {
        border-color: $grey-color;
      }
    }

    &:active {
      &:before {
        border-color: $pink-color;
      }
    }
  }

  input[type="radio"] {
    display: none;
  }

  input[type=radio]:checked + label::before {
    background-image: url("../img/icon-map-marker.svg");
    position: absolute;
    background-repeat: no-repeat;
    background-position: 50%;
  }

  @media ($tablet-width) {
    padding-bottom: 0;
  }
}

.form__emotions-item {
  margin: 30px 0;

  @media ($tablet-width) {
    padding: 45px 60px 40px;
    border: 2px solid #f2f2f2;
    position: relative;
    margin: 60px 0;
  }

  @media ($desktop-width) {
    margin: 0;
  }

  label {
    text-transform: uppercase;
    color: $pink-color;
  }

  li {
    text-align: center;
  }

  textarea {
    width: 100%;
    min-height: 200px;
    resize: none;
    padding: 18px;
    margin-top: 10px;
    line-height: 28px;

    @media ($tablet-width) {
      margin-top: 0;
      min-height: 200px;
    }

    @media ($desktop-width) {
      min-height: 120px;
    }
  }
}

.form__comment {
  padding-top: 37px;
  text-transform: uppercase;

  @media ($tablet-width) {
    padding-top: 0;
  }

  &--symbol {
    color: $pink-color;
  }

  &--desktop {
    display: none;

    @media ($desktop-width) {
      display: inline-block;
    }
  }
}

.form__tabl-padding {
  @media ($tablet-width) {
    padding: 55px 60px;
    background-color: $white-color;
    border: 2px solid $light-grey-color;
    position: relative;
    margin-top: 65px;
  }

  @media ($desktop-width) {
    margin: 0;
    padding: 55px 70px
  }
}

.form__button-wrapper {
  @media ($tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

//@media ($tablet-width) {

.wrapper-form-order {
  @media ($desktop-width) {
    margin-bottom: 25px;
  }

  &--initials {
    padding-bottom: 25px;

    @media ($tablet-width) {
      order: 1;
      padding-bottom: 0;
    }

    @media ($desktop-width) {
      flex-basis: 46%;
    }
  }

  &--achievements {
    @media ($tablet-width) {
      order: 4;
    }

    @media ($desktop-width) {
      flex-basis: 100%;
      padding-top: 40px;
    }
  }

  &--contacts {
    @media ($tablet-width) {
      order: 3;

      .form__tabl-padding {
        padding-top: 45px;
        padding-bottom: 25px;
      }
    }

    @media ($desktop-width) {
      flex-basis: 100%;
      padding-top: 40px;

      .form__tabl-padding {
        padding: 30px 55px 13px;
      }
    }
  }

  &--apps {
    @media ($tablet-width) {
      order: 2;
    }

    @media ($desktop-width) {
      flex-basis: 46%;
    }
  }

  &--emotions {
    margin-bottom: 10px;

    @media ($tablet-width) {
      order: 5;
    }

    @media ($desktop-width) {
      flex-basis: 100%;
      margin-top: 50px;
      margin-bottom: 60px;
    }
  }

  &--buttons {
    @media ($tablet-width) {
      order: 6;
    }
    @media ($desktop-width) {
      flex-basis: 100%;
    }
  }
}

.wrapper-form-order:last-child {
  @media ($desktop-width) {
    margin-bottom: 0;
  }
}

.pop-up {
  display: none;
}

