.wrapper-advantage {
  @media ($desktop-width) {
    background-color: #f2f2f2;
  }
}

.main-advantage {
  //display: flex;
  flex-direction: row;
  text-align: left;
  align-items: center;
  display: none;

  @media ($tablet-width) {
    display: flex;
    padding: 60px 0 42px;
  }

  @media ($desktop-width) {
    padding: 23px 10px 60px;
  }
}

.main-advantage__img,
.main-advantage__info {
  flex-basis: 50%;
  text-align: center;

  @media ($tablet-width) {
    text-align: left;
  }
}

.main-advantage__img {
  position: relative;
  margin-right: 75px;
  flex-basis: auto;

  img {
    //width: 240px;
    max-height: 270px;

    @media ($desktop-width) {
      max-height: none;
    }
  }

  @media ($desktop-width) {
    margin-right: 65px;
  }
}

.main-advantage__img-text {
  position: absolute;
  font-size: 100px;
  line-height: 150px;
  color: $pink-color;
  font-family: $opensans-bold;
  transform: translate(-50%, -50%);
  top: 53%;
  left: 50%;

  @media ($desktop-width) {
    font-size: 120px;
  }
}

.main-advantage__info {
  h2 {
    font-family: 'Open Sans Bold', 'Arial', sans-serif;
    font-size: 30px;
    line-height: 36px;
    padding-right: 120px;
  }

  @media ($tablet-width) {
    display: flex;
    flex-direction: column;
    min-height: 210px;
    justify-content: space-between;
    padding-right: 5px;
  }

  @media ($desktop-width) {
    padding-top: 30px;
    min-height: 240px;
    flex-basis: 65%;
  }
}

.main-advantage__description {
  padding: 20px 0;
  line-height: 24px;

  @media ($tablet-width) {
    padding: 10px 0;
  }

  @media ($desktop-width) {
    font-size: 18px;
    line-height: 30px;
    padding: 0 15px 0 0
  }
}

.main-advantage__link {
  font-size: 14px;

  a {
    color: $pink-color;
    text-decoration: underline;
  }

  @media ($desktop-width) {
    font-size: 18px;
  }
}
