.mark {
  position: absolute;
  background-color: $pink-color;
  padding: 13px 20px;
  color: $white-color;
  text-transform: uppercase;
  font-family: $opensans-bold;
  font-size: 12px;
  right: 20px;
}
