.page-introduction {
  @media ($tablet-width) {
    margin: 60px 50px;
  }
}

.page-introduction__content {
  line-height: 30px;
  font-size: $base-font-size;
  font-weight: 100;
  margin: 45px 0;
  @media ($tablet-width) {
    margin: 0;
    font-size: 18px;
  }

  &--main-page {
    font-size: 24px;
    font-family: $opensans-light;

    @media ($tablet-width) {
      font-size: 39px;
      line-height: 40px;
    }

    &:nth-child(2) {
      @media ($tablet-width) {
        padding: 0 100px;
      }
    }
  }
}
