.photo-posting__settings-wrapper {

  @include container();

  @media ($tablet-width) {
    display: flex;
    justify-content: space-between;
  }
}

.photo-posting__settings-photo {
  @media ($tablet-width) {
    width: 300px;
  }
  img {
    //@include container();
    @media ($tablet-width) {
      width: 100%;
    }
    padding-right: 5px;
    height: 100%;
  }
}

.photo-posting__settings {
  background-color: $light-grey-color;
  padding-top: 20px;
  padding-bottom: 40px;

  @media ($tablet-width) {
    padding: 60px 0;
  }
}

.photo-posting__title {
  line-height: 30px;
  font-size: 14px;
  font-weight: 100;
  padding: 50px 0;
}

.photo-posting__tools-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  //form {
  //  @include container();
  //}
}

.photo-posting__filters {
  display: flex;
  justify-content: space-between;
  padding: 40px;
  flex-basis: 50%;

  input {
    display: none;
    @media ($tablet-width) {
      display: block;
    }
  }

  @media ($tablet-width) {
    flex-direction: column;
    padding: 10px 0;

    li {
      display: flex;
      align-items: center;
      padding: 25px 0;
      border-bottom: 2px solid #dddfe0;
    }
  }
}

.photo-posting__filter {
  cursor: pointer;
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  display: block;
  background-position: 50%;

  @media ($tablet-width) {
    background-size: 23px;
  }

  &--crop {
    background-image: url("../img/icon-editor-crop.svg");
  }

  &--color {
    background-image: url("../img/icon-editor-fill.svg");
    //padding: 0 50px;
  }

  &--brightness {
    background-image: url("../img/icon-editor-contrast.svg");
  }
}

.photo-posting__separator {
  width: 100%;
  margin: 28px 0 38px;
}

//input[type=range] {
//  -webkit-appearance: none;
//  margin: 10px 0;
//  width: 240px;
//}

//input[type=range]:focus {
//  outline: none;
//}

//input[type=range]::-webkit-slider-runnable-track {
//  width: 240px;
//  height: 2px;
//  background-color: $grey-color;
//}

.photo-posting__slider input[type=range] {
  -webkit-appearance: none;
  margin: 10px 0;
  width: 240px;
  margin-bottom: 16px;

  &::-webkit-slider-runnable-track {
    width: 240px;
    height: 2px;
    background-color: $grey-color;
  }

  &:focus {
    outline: none;
  }

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: #f2f2f2;
    border: 2px solid $pink-color;
    width: 15px;
    height: 15px;
    border-radius: 50px;
    cursor: pointer;
    margin-top: -6px;
  }

  &::-moz-range-track {
    width: 240px;
    height: 2px;
    background-color: $grey-color;
  }

  &::-moz-range-thumb {
    background-color: #f2f2f2;
    border: 2px solid $pink-color;
    width: 15px;
    height: 15px;
    border-radius: 50px;
    cursor: pointer;
    margin-bottom: -6px;
  }

  &::-ms-track {
    width: 240px;
    height: 2px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    border-width: 15px 0;
    color: transparent;
  }

  &::-ms-fill-lower {
    background: $grey-color;
  }

  &::-ms-fill-upper {
    background: $grey-color;
  }

  &::-ms-thumb {
    background-color: #f2f2f2;
    border: 2px solid $pink-color;
    width: 15px;
    height: 15px;
    border-radius: 50px;
    cursor: pointer;
  }
}

.photo-posting__filters .photo-posting__slider {
  display: none;

  @media ($tablet-width) {
    display: block;
    padding: 0 10px;
  }
}

.photo-posting__filters input[type=radio] {
  @media ($tablet-width) {
    display: none;
  }
}

.photo-posting__slider {
  &--mobile input[type=range] {
    @media ($tablet-width) {
      display: none;
    }
  }
}
