.photo-posting__settings-wrapper {

  @include container();

  @media ($tablet-width) {
    display: flex;
    justify-content: space-between;
  }
}

.photo-posting__settings-photo {
  @media ($tablet-width) {
    width: 50%;
  }
  img {
    padding-right: 5px;
    height: 100%;
    @media ($tablet-width) {
      width: 100%;
      height: auto;
      display: block;
    }
    @media ($desktop-width) {
      margin: 0 auto;
      max-width: 300px;
    }
  }
}

.photo-posting__settings {
  background-color: $light-grey-color;
  padding-top: 20px;
  padding-bottom: 40px;

  @media ($tablet-width) {
    padding: 60px 0;
  }
}

.photo-posting__title {
  line-height: 30px;
  font-size: 14px;
  font-weight: 100;
  padding: 50px 0;
  @media ($tablet-width) {
    font-size: 18px;
    padding: 65px 0;
  }
}

.photo-posting__tools-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  form {
    padding-bottom: 15px;
  }
  @media ($tablet-width) {
    width: 50%;
  }
}

.photo-posting__filters {
  display: flex;
  justify-content: center;
  padding: 35px;
  padding-bottom: 20px;
  flex-basis: 50%;

  input {
    display: none;
    @media ($tablet-width) {
      display: block;
    }
  }
  li {
    padding: 0 15px;
  }
  @media ($tablet-width) {
    flex-direction: column;
    padding: 0 0 0 35px;

    li {
      display: flex;
      align-items: center;
      padding: 20px 0 10px;
      border-bottom: 2px solid #dddfe0;
      &:first-of-type {
        padding: 0 0 15px;

      }
    }
  }
  @media ($desktop-width) {
    padding: 0;
  }
}

.photo-posting__filter {
  cursor: pointer;
  width: 50px;
  height: 50px;
  display: block;

  @media ($tablet-width) {
    width: 30px;
    height: 30px;
    svg {
      width: 30px;
      height: 30px;
    }
  }
  @media ($desktop-width) {
    width: 40px;
    height: 40px;
    svg {
      width: 40px;
      height: 40px;
    }
  }
  &--crop {
  }

  &--color {
  }

  &--brightness {
  }
}

.photo-posting__separator {
  width: 100%;
  margin: 28px 0 38px;
}

//input[type=range] {
//  -webkit-appearance: none;
//  margin: 10px 0;
//  width: 240px;
//}

//input[type=range]:focus {
//  outline: none;
//}

//input[type=range]::-webkit-slider-runnable-track {
//  width: 240px;
//  height: 2px;
//  background-color: $grey-color;
//}

.photo-posting__slider input[type=range] {
  -webkit-appearance: none;
  margin: 10px 0;
  width: 240px;
  margin-bottom: 16px;

  &::-webkit-slider-runnable-track {
    width: 240px;
    height: 2px;
    background-color: $grey-color;
  }

  &:focus {
    outline: none;
  }

  &::-webkit-slider-thumb{
    -webkit-appearance: none;
    background-color: #f2f2f2;
    border: 2px solid $pink-color;
    width: 15px;
    height: 15px;
    border-radius: 50px;
    cursor: pointer;
    margin-top: -6px;

    &:active {
      background-color: $pink-color;
    }
  }

  &::-moz-range-track {
    width: 240px;
    height: 2px;
    background-color: $grey-color;
  }

  &::-moz-range-thumb {
    background-color: #f2f2f2;
    border: 2px solid $pink-color;
    width: 15px;
    height: 15px;
    border-radius: 50px;
    cursor: pointer;
    margin-bottom: -6px;

    &:active {
      background-color: $pink-color;
    }
  }

  &::-ms-track {
    width: 240px;
    height: 2px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    border-width: 15px 0;
    color: transparent;
  }

  &::-ms-fill-lower {
    background: $grey-color;
  }

  &::-ms-fill-upper {
    background: $grey-color;
  }

  &::-ms-thumb {
    background-color: #f2f2f2;
    border: 2px solid $pink-color;
    width: 15px;
    height: 15px;
    border-radius: 50px;
    cursor: pointer;

    &:active {
      background-color: $pink-color;
    }
  }
  @media ($tablet-width) {
    width: 100%;
    margin: 0 5px;
  }
}

.photo-posting__filters .photo-posting__slider {
  display: none;

  @media ($tablet-width) {
    display: block;
    padding: 0 10px;
    width: 100%;
  }
  @media ($desktop-width) {
    padding: 0 50px;
  }
}

.photo-posting__filters input[type=radio] {
  @media ($tablet-width) {
    display: none;
  }
}

.photo-posting__slider {
  &--mobile input[type=range] {
    @media ($tablet-width) {
      display: none;
    }
  }
}

.photo-posting__buttons {
  padding-top: 30px;
  @media ($tablet-width) {
    padding: 0 5px 0 40px;
  }
  @media ($desktop-width) {
    justify-content: space-between;
    padding: 0;
  }
}
