.post-card {
  margin-top: 20px;
  text-align: left;

  @media ($tablet-width) {
    flex-basis: 48%;
  }

  @media ($desktop-width) {
    flex-basis: 32%;
    margin-top: 50px;
    &:nth-of-type(-n+3) {
      margin-top: 20px;
    }
  }
  img {
    @media ($tablet-width) {
      min-height: 300px;
    }
    @media ($desktop-width) {
      min-height: 400px;
    }
  }

  &--top {
    @include container();

    .post-card__post {
      @media ($tablet-width) {
        min-height: 125px;
      }
      @media ($desktop-width) {
        min-height: 100px;
      }
    }

    .post-card__like {
      a {
        padding-left: 32px;

        &:before {
          @media ($desktop-width) {
            left: 0;
            bottom: 5px;
          }
        }
      }

      @media ($tablet-width) {
        position: absolute;
        right: 17px;
        top: 17px;
      }
    }

    @media ($desktop-width) {
      &:nth-of-type(1) {
        margin-top: 0;
      }
    }
  }
}

.post-card__title {
  font-family: $opensans-bold;

  span {
    font-family: $opensans-light;
    font-size: 12px;
    text-transform: uppercase;
  }
}

.post-card__like {
  padding-top: 10px;
  position: relative;
  font-size: 12px;

  a {
    text-transform: uppercase;
    color: $pink-color;
    position: relative;
    padding-left: 32px;

    @media ($desktop-width) {
      display: block;
      padding-left: 0;
    }

    &::before {
      content: '';
      background-image: url(../img/icon-heart.svg);
      height: 13px;
      position: absolute;
      width: 13px;
      background-repeat: no-repeat;
      left: 0;
      bottom: 2px;

      @media ($desktop-width) {
        left: calc(100% - 15px);
      }
    }
  }
}

.post-card__post {
  padding: 17px;
  padding-bottom: 20px;
  background-color: $light-grey-color;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media ($tablet-width) {
    min-height: 155px;
    padding: 25px;
    position: relative;
  }
}

.post-card__wrapper {
  @include container();

  @media ($tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 30px;
  }
}

.post-card__photo {

  &--top {
    position: relative;

    @media ($tablet-width) {
      min-height: 505px;
      overflow: hidden;
    }
  }

  &--top img {
    width: 100%;

    @media ($tablet-width) {
      height: 505px;
    }

    @media ($desktop-width) {
      max-height: 510px;
      transform: none;
      width: 100%;
    }
  }
}
