.tariffs-slider {
  padding-top: 35px;
  background-color: $light-grey-color;
  position: relative;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border-bottom: 30px solid #f2f2f2;
    border-left: 320px solid #fff;
    width: 42px;
    height: 0;
    box-sizing: border-box;
  }
}

.tariffs-slider__list {
  text-transform: uppercase;
  line-height: 30px;
}

.tariffs-slider__item {
  h3 {
    font-size: 18px;
    font-family: $opensans-bold;
  }

  p {
    font-size: 24px;
    font-family: $opensans-light;
  }
}

