.tariffs {
  padding-top: 120px;
  background-color: $light-grey-color;
  position: relative;
  overflow: hidden;

  @media ($tablet-width) {
    padding-top: 85px;
    padding-bottom: 70px;
  }

  @media ($desktop-width) {
    padding-top: 145px;
    padding-bottom: 95px;
  }

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: url(../img/bg-triangle-white.svg);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
  }
}

.tariffs-table {
  width: 630px;
  margin: 0 auto;
  overflow: hidden;

  @media ($desktop-width) {
    width: auto;
  }
}

.tariffs__list {
  line-height: 30px;
  margin: 0 auto;
  border-collapse: collapse;
  transform: translateX(-31%);

  @media ($tablet-width) {
    transform: translateX(0%);
    padding-bottom: 70px;
  }

  @media ($desktop-width) {
    padding-bottom: 95px;
  }
}

.tariffs__item {
  text-transform: uppercase;
  border: 1px solid;
  background-color: $grey-color;
  color: $white-color;
  min-width: 280px;
  position: relative;
  padding: 20px 0;

  @media ($tablet-width) {
    min-width: 155px;
    padding: 10px 15px;
  }

  @media ($desktop-width) {
    padding: 18px 63px;
    min-width: 236px;
  }

  h3 {
    font-size: 18px;
    font-family: $opensans-bold;

    @media ($tablet-width) {
      font-size: 16px;
    }
  }

  p {
    font-size: 24px;
    font-family: $opensans-light;

    @media ($tablet-width) {
      font-size: 18px;
    }

    @media ($desktop-width) {
      font-size: 22px;
    }
  }
}

.tariffs__item,
.tariff-feature__name,
.tariff-feature__access {
  border: 2px solid #e5e5e5;
}

.tariff-feature__access {
  padding: 14px 20px;


  &--enable svg {
    fill: #3dc644;
  }

  &--disable svg {
    fill: #f25b26;

    @media ($tablet-width) {
      padding: 0;
    }

    @media ($desktop-width) {
      padding: 0 102px 0 65px;
    }
  }
  @media ($tablet-width) {
    padding: 7px 20px;
  }
  @media ($desktop-width) {
    padding: 7px 20px;
  }
}

.tariff-feature__access-container {
  display: flex;
  justify-content: space-between;

  @media ($tablet-width) {
    justify-content: center;
  }

  span {
    text-transform: uppercase;
    @media ($tablet-width) {
      display: none;
    }
  }
}

.tariff-feature__name {
  display: none;
  text-align: left;

  &--invisible {
    border: none;
  }

  @media ($tablet-width) {
    display: table-cell;
    padding: 0 15px;
    min-width: 155px;
  }

  @media ($desktop-width) {
    padding: 14px 60px 14px 30px;
    font-size: 18px;
  }
}

.tariff__item-hit {
  position: absolute;
  background-image: url(../img/bg-hit.svg);
  background-size: contain;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-repeat: no-repeat;

  @media ($tablet-width) {
    background-position: -15px 0;
    background-size: 80px 70px;
  }

  &--name {
    display: block;
    transform: rotate(-45deg);
    position: absolute;
    top: 26px;
    left: 25px;

    @media ($tablet-width) {
      top: 5px;
      left: 8px;
    }
  }
}

.tariff-feature {
  background-color: $white-color;
}
