.slider-bullet-buttons {
  padding: 30px;

  li {
    display: inline-block;
    margin: 0 5px;
  }

  svg {
    fill: $bullet-buttons-color;
  }

  &--tariffs {
    padding: 40px;
    @media ($tablet-width) {
      display: none;
    }

  }

  @media ($tablet-width) {
    padding-bottom: 25px;
  }

  @media ($desktop-width) {
    display: none;
  }
}
