.slider-bullet-buttons {
  padding: 40px;

  li {
    display: inline-block;
  }

  svg {
    fill: $bullet-buttons-color;
  }

  &--tariffs {
    @media ($tablet-width) {
      display: none;
    }

  }
}
